/* root configaration */
:root {
  --color-primary: #242525;
  --color-secondary: #44775d;
  --color-ternary: #cecece;
  --color-quarter: #00b496;
  --color-danger: #d12e2e;
  --color-success: #05e776;
  --color-warning: #ffbb00;
  --color-body: #f6f1f2;
  --color-hover: #c7c7c781;
  --border-radius: 0.5rem;
  --transition: 0.25s all ease;
}
/* default settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: Manrope, Inter, Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  background: linear-gradient(#0099cb, #7cdeff);
  height: 100vh;
  width: 100vw;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 300px;
}
/* tee container */
.container-tee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60rem;
  height: 60rem;
  background-color: var(--color-primary);
  color: var(--color-body);
  align-self: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 20px var(--color-body);
  padding: 2rem 4rem;
}
@media screen and (max-width: 768px) {
  .container-tee {
    width: 100%;
    height: 100%;
    padding: 4rem 4rem;
  }
}

/* tee header */
.tee-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-hover);
  flex-grow: 0.2;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .tee-header {
    background-color: transparent;
    font-size: 3rem;
    background-color: #7a7a7a14;
    margin-bottom: 3rem;
  }
}
/* tee content */
.tee-content {
  flex-grow: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .tee-content {
    justify-content: start;
  }
}

/* btn */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem 3rem;
  border: 0;
  outline: 0;
  border-radius: var(--border-radius);
  margin: 1rem auto;
  transition: var(--transition);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 4px rgba(128, 128, 128, 0.601);
}
@media screen and (max-width: 7668px) {
  .btn {
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
  }
}
.btn:hover {
  background-color: #03ce68;
}
.btn:active {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px var(--color-hover);
  color: var(--color-success);
}
.btn--sucess {
  background-color: var(--color-success);
  color: #f6f1f2;
}
.active {
  color: #d12e2e;
}
